.popup__close-button {
  margin: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/cross.svg");
  background-position: center;
  background-size: contain;
  background-color: transparent;
  position: absolute;
  top: -40px;
  left: 438px;
  border: 0;
}

@media (max-width: 530px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -37px;
    left: 262px;
  }
}
